# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Typescript stuff
build/
coverage/
config/
tsconfig.json
tslint.json

# Typescript files (but not the definitions)
*.ts
!*.d.ts

# Testfiles
jest.json
test/


# CI Configs

.travis.yml




# Documentation
docs/

